@model CategoriesViewModel

<h1>Categories</h1>

<ul class="list-group categories">
    @foreach (var category in Model.Categories)
    {
        <li class="list-group-item">@category.Name</li>
    }
</ul>